@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: #000000;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: auto;
    background-image: url(/img/teia\ fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 0 10px rgb(165, 26, 26);
}

h1 {
    font-family: "Matemasie", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}

.info {
    text-align: center;
    font-family: "Poppins", sans-serif;
}