* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    padding: 70px;
    align-items: center;
    background-color: #000000;
}

/* Header */
header {
    background-image: url(/img/teia\ fundo.png);
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Seções */
section {
    margin-bottom: 40px;
}

h2 {
    
    color: #ffffff;
    margin-bottom: 10px;
}

/* Links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #000000;
    color: #b90917;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    body {
        padding: 10px;
    }
}
